<h1 mat-dialog-title class="text-center">{{data.specieInfo.name}}</h1>
<div mat-dialog-content class="text-center">
  <ul>
    <li>Media Vida: {{data.specieInfo.average_lifespan}}</li>
    <li>Media Altura: {{data.specieInfo.average_height}}</li>
    <li>Lengua: {{data.specieInfo.language}}</li>
    <li>Clasificación: {{data.specieInfo.classification}}</li>
    <li>Color de piel: {{data.specieInfo.skin_colors}}</li>
  </ul>
</div>
<div mat-dialog-actions class="d-grid text-center" >
  <button mat-button mat-dialog-close color="prymary" cdkFocusInitial>Ok</button>
</div>
