<h1 mat-dialog-title class="text-center">{{data.characterInfo.name}}</h1>
<div mat-dialog-content class="text-center">
  <p>{{data.characterInfo.birth_year}}</p>
  <ul style="list-style: circle;">
    <li>Fecha de nacimiento: {{data.characterInfo.birth_year}}</li>
    <li>Especie: {{data}}
    </li>
    <li>Altura: {{data.characterInfo.height}}</li>
    <li>Peso: {{data.characterInfo.mass}}</li>
    <li>Género: {{data.characterInfo.gender}}</li>
    <li>Color de pelo: {{data.characterInfo.hair_color}}</li>
    <li>Color de piel: {{data.characterInfo.skin_color}}</li>
    <li>Planeta de procedencia:
    </li>
  </ul>
</div>
<div mat-dialog-actions class="d-grid text-center" >
  <button mat-button mat-dialog-close color="prymary" cdkFocusInitial>Ok</button>
</div>