.maintxt{
  position: relative;
}
.maintxt > img {
  position: absolute;
}

.overlay-text{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.411);
  font-family: "jedi";
}
